{% extends "layout.html" %}
{% block content %}

<br>
<div class="container">

  <div class='row buffer'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Regular Expression
        </h3>
      </div>
      <div class="panel-body">
        <input class='regex_string' type='text'>
      </div>
    </div>
  </div>

  <div class='row buffer'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Text
        </h3>
      </div>
      <div class="panel-body">
        <textarea class='input_string'></textarea>
      </div>
    </div>
  </div>

  <div class='row buffer'>
    <div class='row buttons'>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox" class="multiline_bool"> re.MULTILINE
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" class="dotall_bool"> re.DOTALL
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" class="verbose_bool"> re.VERBOSE
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" class="ignorecase_bool"> re.IGNORECASE
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" class="unicode_bool"> re.UNICODE
        </label>
      </div>
    </div>
  </div>

  <div class='row buffer'>
    <hr>
  </div>

  <div class='row buffer'>
    <div class='col-md-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Regular Expression Highlights
          </h3>
        </div>

        <div class="panel-body highlight">
        </div>
      </div>
    </div>

    <div class='col-md-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Regular Expression Matches
          </h3>
        </div>

        <div class="panel-body match">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class='row buffer'> -->
    <!-- <hr> -->
  <!-- </div> -->

  <div class='row buffer'>
    <div class='col-md-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Resources
          </h3>
        </div>
        <div class="panel-body">
          <!-- <ul> -->
          <a href="https://docs.python.org/2/library/re.html">re — Regular expression operations (Python Docs)</a><br>
          <a href="https://developers.google.com/edu/python/regular-expressions">Python Regular Expressions (Google Developers)</a>
          <!-- </ul> -->
        </div>
      </div>
    </div>

  <div class='col-md-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          About
        </h3>
      </div>
      <div class="panel-body">
        By Momo Ong in 2014.
        Standing on the shoulders of apps such as <a href="http://rubular.com/">Rubular</a>, <a href="https://pythex.org/">Pythex</a>, <a href="http://www.regexr.com/">RegExr</a>
        and <a href="http://www.pythonregex.com/">pythonregex</a>.
      </div>
    </div>
  </div>

  </div>

</div>


  <br>
  <br>

<br>
<br>
<br>

<!-- <p class="ajax_disp1"></p>
<br>
<p class="ajax_disp2"></p>
<br>
<p class="ajax_disp3"></p>
<br>
<p class="ajax_disp4"></p>
<br>
<p class="ajax_disp5"></p>
<br>
<p class="ajax_disp6"></p>
<br>
<p class="ajax_disp7"></p>
<br> -->

</div>
</div>

{% endblock %}
