<!DOCTYPE html>
<html>
<head>
  <title>Python Regular Expressions</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <style>
    .top{
      text-align: center;
    }
    .buffer{
      margin-top:25px;
      margin-bottom:25px;
    }
    .buttons{
      text-align: center;
    }
    .panel-primary textarea {
      width: 100%;
      height: 100%;
    }
    .panel-primary input {
      width: 100%;
      height: 100%;
    }
    mark {
      background-color: #9999FF;
    }
  </style>

</head>
<body>

  <div class="site-wrapper">
    <header>
      <div class="container top">
        <h1 class="logo">Python Regular Expressions</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="static/js/processing.js"></script>
</body>
</html>
